:root {
    --calendar-background: none;
    --BHS-height: 700px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--calendar-background);
}

#title {
    margin: 0rem 5rem;
    color: white;
    font-size: 3rem;
    padding-left: 2rem;
}

#BHS-container {
    display: flex;
}

#calendar-container {
    height: 100vh;

    margin: 0rem 1rem;
    border: 2px solid red;
    background-color: var(--calendar-background);

    display: grid;
    width: 90%;
    grid-template-columns: repeat(7, 14.28%);
    grid-template-rows: 50px repeat(6, 150px);
}

#data-container {
    border: 2px solid lime;
    width: 20vw;
    margin-right: 1rem;
}

.date,
.day {
    color: white;
    border: 1px solid white;
    background-color: none;
    padding: 0.5rem;
}

.day {
    font-size: 2rem;
}

.date {
    font-size: 1rem;
}

.date:hover {
    background-color: rgba(138, 43, 226, 0.7);
}

.date[data-date='blank'] {
    background-color: var(--calendar-background);
    border: none;
}

.calendar-todo {
    font-size: 0.75rem;
    color: black;

    border-radius: 1rem;
    background-color: lightgreen;
    margin: 0.25rem 0.5rem 0rem 0.5rem;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
}

.calendar-todo:hover {
    background-color: yellow;
}

.data-div {
    margin-bottom: 3rem;
    padding: 1rem;
}

.data-heading {
    color: yellow;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.data {
    color: white;
}
