/* generic */
/* on page load */

:root {
    --header-height: 4rem;
    --hover-color: blueviolet;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui;
    text-shadow: var(--font-shadow);
    border: none;
    cursor: default;
}

body {
    background-color: black;
}

#full-container {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2rem;
}

/* menu */

#menu {
    position: sticky;
    height: 100vh;
    top: 0;

    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid black;
    padding-left: 2rem;
    padding-right: 2rem;

    --font-shadow: 2px 2px 2px black;

    background-image: url(./Images/3359732.jpg);
    background-size: 100% 100%;
}

#menu > * {
    background-color: rgba(211, 211, 211, 0.2);
    color: white;
}

/* bear logo */

#logoDiv {
    height: var(--header-height);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bearImage {
    height: 100%;
    flex: 0;
}

#bearText {
    font-size: 1.5rem;
    color: orange;
}

/* view, date */

#view-option-container {
    margin-top: -1rem;
}

.date-item,
.view-option {
    padding-left: 2rem;
}

.date-item:hover,
.view-option:hover {
    background-color: blueviolet;
}

/* projects */

#project-container {
    max-width: 100%;
}

.proj-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.proj-button-container:hover {
    background-color: blueviolet;
}

.project {
    padding-left: 2rem;
    flex: 1;
}

.proj-del-button {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    visibility: hidden;
}

.proj-del-button:hover {
    color: red;
}

#new-project {
    color: greenyellow;
    padding-left: 2rem;
}

#new-project:hover {
    background-color: blueviolet;
}

/* hover project to show delete button */
.project:hover + .proj-del-button,
.proj-del-button:hover {
    visibility: visible;
}

/* display */

#display {
    flex: 1;
    border: 2px solid black;
    min-width: 450px;
    background-image: url(./Images/3626461.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 200px;
}

/* header */

#header {
    height: var(--header-height);
    text-align: center;

    margin-bottom: 1rem;
    /* somehow vertical-align and line-height work together to vertically center the text*/
    vertical-align: middle;
    line-height: var(--header-height);

    background-color: rgba(211, 211, 211, 0.7);
    color: yellow;
    text-shadow: 2px 2px 2px black;
}

/* modifications for login */
#header {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.header-message {
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.login-input-field:placeholder-shown {
    border: 3px dotted orange;
    font-weight: 800;
    text-align: center;
}

.login-input-field {
    flex: 1;
    background-color: transparent;
    font-size: 2rem;
    outline: none;
    border: none;
    margin-right: 6rem;
    padding-left: 1rem;
    min-width: 0px;

    color: yellow;
    text-shadow: 2px 2px 2px black;
}

.login-input-field::placeholder {
    font-size: 1.2rem;
}

.logout-button {
    padding: 1rem;
    margin-right: 1rem;
    background-color: transparent;

    color: white;
    text-shadow: 2px 2px 2px black;
}

.logout-button:hover {
    color: black;
    text-shadow: 2px 2px 2px white;
}

/* todos */

#todo-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

#new-todo {
    color: greenyellow;
}

.todo,
#new-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 5rem;
    border: 2px solid black;

    margin-left: 2rem;
    margin-right: 2rem;

    background-color: rgba(211, 211, 211, 0.2);
    --font-shadow: 2px 2px 2px black;
    font-size: 1rem;
}

.todo {
    color: white;
}

.todo:hover,
#new-todo:hover {
    background-color: rgba(138, 43, 226, 0.7);
}

.todo:active,
#new-todo:active {
    background-color: rgba(211, 211, 211, 0.2);
}

.todo-name {
    flex: 1;
    pointer-events: none;
}

.todo-date {
    color: white;
    font-size: 1rem;
    pointer-events: none;
    margin-right: 3rem;
}

.date-Today {
    color: red;
}

.date-Tomorrow {
    color: orange;
}

.date-DayAfterTomorrow {
    color: yellow;
}

.date-Past {
    color: grey;
}

.todo-del-button {
    padding-right: 0.5rem;
}

.todo-del-button:hover {
    color: red;
}

.todo-del-button {
    visibility: hidden;
}

/* hover todo to show delete button */
.todo:hover .todo-del-button,
.todo-del-button:hover {
    visibility: visible;
}

/* on events */

/* click date or project */
.selected-date,
.selected-project,
.selected-view {
    color: orange;
}

/* click new project */

.proj-input-field {
    font-size: 2rem;
    max-width: 100%;
    color: white;
    background-color: transparent;
    padding-left: 2rem;
    flex: 1;
    white-space: pre-wrap;
    display: inline-block;
    box-shadow: 0 0 10px #9ecaed;
}

/* click todo */

.current-todo {
    background-color: rgba(138, 43, 226, 0.7);
    color: orange;
}

.open-todo {
    padding: 1rem 1rem 1rem 5rem;
    gap: 3rem;
    border: 2px solid black;
    background-color: rgba(79, 183, 192, 0.7);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -1rem;
    color: white;
    font-size: 1.5rem;

    --font-shadow: 2px 2px 2px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-todo-data {
    flex: 1;
    word-wrap: break-word;
    white-space: pre-wrap;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.open-todo-data > :first-child {
    color: rgb(255, 221, 0);
}

.todo-edit-button,
.todo-submit-button {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: transparent;
}

.todo-edit-button:hover {
    color: red;
}

.todo-submit-button:hover {
    color: lime;
}

/* click edit button */

/* prevent the todo from flashing when clicking it during editing */
.current-edit-header:active {
    background-color: rgba(138, 43, 226, 0.7);
}

/* need to add important to cancel the effect of #new-todo */
.input-new-container {
    background-color: rgba(138, 43, 226, 0.7) !important;
}

#date-input-field {
    background-color: transparent;
    color: grey;
    font-size: 1rem;
}

/* click new todo */

#date-input-field.data-selected {
    color: greenyellow;
}

/* grey placeholder text until user types in the field */
.todo-input-field:empty:before {
    content: attr(data-placeholder);
    color: grey;
}

/* shadow present until user has typed in the field*/
/* for the date&dropdown, a new class (data-selected) is added via javascript onchange*/
.todo-edit-field,
.todo-input-field:empty,
#project-dropdown {
    box-shadow: 0 0 10px #9ecaed;
    border-radius: 7px;
    padding-left: 1rem;
    margin-left: -1rem;
}

.todo-input-field,
#project-dropdown.data-selected,
#date-input-field.data-selected {
    box-shadow: none;
    outline: none;
    border: none;
}

/* dropdown-specific */
#project-dropdown {
    background-color: transparent;
    font-size: 1.5rem;
    color: orange;
}

option {
    color: white;
    background-color: black;
}

option:checked {
    color: orange;
}

option:hover {
    background-color: blueviolet;
}

#project-dropdown:invalid,
select option[value=''] {
    color: grey;
}

/* CSS related to Modal (login.html) */
/* modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
#modal-bg {
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 3rem 3rem;
    width: 50%;
    border: 10px solid black;
    border-top: 10px solid purple;
    min-width: 400px;
}

.modal-input-div {
    flex: 1;
}

.modal-input-title {
    font-size: 1rem;
    color: black;
    text-shadow: none;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.modal-input-field {
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem;
    width: 90%;
    margin-bottom: 1rem;
    border: 2px solid rgba(211, 211, 211, 0.5);
    border-radius: 1rem;
    outline: 0px;
    color: black;
}

.modal-input-field:focus {
    border: 2px solid blue;
}

.login-note {
    color: brown;
    font-size: 0.75rem;
}

.login-input-div {
    border: 2px solid lime;
}

.login-input-div > * {
    border: 2px solid red;
}
